@font-face {
    font-family: 'abeezee';
    src: url('abeezee-italic-webfont.woff2') format('woff2'),
    url('abeezee-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'abeezee';
    src: url('abeezee-regular-webfont.woff2') format('woff2'),
    url('abeezee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}